h1 {
	text-align: center;
	color: #F4E2CC;
}
*{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	box-sizing: border-box;
}
.button {
	margin:0 auto;
	border-radius: 50%;
background-color:#5E8C65;
color:#F4E2CC;
}

#ui-id-1,#ui-id-3,#ui-id-5,#ui-id-7,#ui-id-9 {
  background-color: #5E8C65;
  color:#8C463F;
}

#ui-id-2,#ui-id-4,#ui-id-6,#ui-id-8,#ui-id-10{
	background-color: #F4E2CC;
	color: #9D7B6F;
}

.active, .ui-accordion-:hover {
  background-color: #A69B7D; 
}

.table {
  display: flex;
border: 1px solid #F4E2CC;
	background-color:#5E8C65;
  text-align: left;
  padding: 8px;
	border-radius: 12px;
	color: #F4E2CC;
	
}

.flex-container2 {
  display: flex;
  height: 250px;
width: 800px;
  align-items:flex-end;
	margin:0 auto;
}

#mystery{
	background-color: #9D7B6F;
}

#horror{
	background-color: #9D7B6F;
}

#other{
	background-color: #9D7B6F;
}







.flex-container {
	color: #8C463F;
	background-color:#A69B7D;
	border-radius: 12px;
	border:dotted;
	border-color: #5E8C65;
	display: flex;
  height: 200px;
  align-items: center;
	
}


ol {
}

.readingList{
		color: #8C463F;
	background-color:#A69B7D;
	border-radius: 12px;
	border:dotted;
	border-color: #5E8C65;
	flex-grow: 1;
  height: 200px;
  align-items: center;
	margin: 0 0 0 20px;
	padding: 0 20px 0 20px;
}

h3 {
	background-color: #9D7B6F;
	text-align: center;
	color: #F4E2CC;
	border-radius: 12px;
		
}

ul {
list-style-type: circle;
}



body {
	background-color: #8C463F;

}

tr:nth-child(even) {
	
}

